body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 106, 106);
    width: 100%;
    letter-spacing: 4px;
    font-family: Georgia, serif;
}

.unordered-list-nav {
    list-style: none;
    display: flex;
    gap: 90px;
    padding: 0;
    margin: 0;
}

.unordered-list-nav li {
    font-weight: bold;
    font-size: 15px;
}

.unordered-list-nav a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

.navigation {
    max-width: 100%;
    margin: 0 auto;
}

.list-image {
    align-self: flex-end;
}

.nav-bar-image {
    width: 20px;
    cursor: pointer;
    align-self: flex-start;
}

.top-section-container {
    background-image: linear-gradient(to right, #f7e9a8, #f58cee);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.top-text-container {
    width: 60%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-section-heading {
    font-size: 40px;
    font-weight: bold;
}

.top-section-message {
    font-size: 19px;
    margin-bottom: 20px;
}

.click-on-button {
    width: 40%;
    background-color: rgb(255, 106, 106);
    border: 0;
    color: #fff;
    font-size: 12px;
    font-family: "Candara Light", sans-serif;
    padding: 8px 0;
}

.top-image-container {
    width: 90%;
}

.top-section-image {
    width: 100%;
}

.bottom-section-container {
    background-image: linear-gradient(to right, #f7e9a8, #f58cee);
    padding: 5%;
    display: flex;
    align-items: center;
    margin-top: 5px; 
    justify-content: space-between;
    gap: 20px;
}

.bottom-section-images-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.bottom-section-two-images {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

}
.img-two{
    margin-bottom: 10px;
}
.bottom-section-text-container {
    background-color: rgb(255, 106, 106);
    padding: 4%;
    width: 25%;
}

.bottom-section-heading {
    font-size: 30px;
    margin-bottom: 10px;
}

.arrow-click-container {
    display: flex;
    align-items: center;
}

.click-heading {
    font-size: 10px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .unordered-list-nav {
        gap: 30px;
    }

    .top-text-container {
        width: 80%;
    }

    .top-image-container {
        width: 100%;
    }

    .bottom-section-container {
        flex-direction: column;
        align-items: center;
    }

    .bottom-section-images-container {
        width: 100%;
        justify-content: center;
    }

    .bottom-section-text-container {
        width: 90%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 576px) {
    .unordered-list-nav {
        flex-direction: row;
        overflow-x: auto;
        gap: 10px;
    }

    .unordered-list-nav li {
        font-size: 14px;
    }

    .top-section-container {
        flex-direction: column;
        gap: 20px;
    }

    .top-text-container {
        width: 90%;
    }

    .top-section-heading {
        font-size: 32px;
    }

    .top-section-message {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .top-image-container {
        width: 100%;
    }

    .list-image {
        align-content: flex-end;
    }

    .bottom-section-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .bottom-section-images-container {
        width: 90%;
        justify-content: center;
    }

    .bottom-section-text-container {
        width: 90%;
        margin-top: 20px;
    }
}
